@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Rubik&display=swap");

body {
  margin: 0;
  background-color: #23272a;
  font-family: "Rubik", sans-serif;
  list-style: none;
  text-decoration: none;
  color: white;
}

.animated {
  transition-property: color, transform;
  transition-duration: 0.3s;
}

/* nav bar */

div.overlay {
  display: none;
}
div.n {
  display: none;
}

div.nav {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #2c2f33;
  height: 80px;
  justify-content: flex-end;
}

div.nom {
  z-index: 2;
  position: absolute;
  margin-top: 8px;
  margin-left: 53px;
}

a.a-nav {
  color: white;
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
}

/* presentation */

section.presentation {
  font-size: 40px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.btn-parc {
  width: 400px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2c2f33;
  border-radius: 20px;
}

a.parcours {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

/* responsive */

@media (orientation: portrait) {
  /* nav bar */

  /* presentation */

  h1.text {
    font-size: 30px;
  }

  div.btn-parc {
    width: 220px;
  }

  a.parcours {
    font-size: 20px;
  }

  /* déplie */

  div.n {
    display: block;
    right: 10px;
    top: 15px;
    position: absolute;
    z-index: 4;
  }

  h1.nom {
    font-size: 15px;
    margin-top: 25px;
  }

  h1.nom {
    display: block;
    font-size: 15px;
    margin-top: 25px;
  }

  div.nom {
    left: 0;
    margin-left: 10px;
  }
  a.a-nav {
    display: none;
  }

  div.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #23272a;
    z-index: 3;
  }

  h1.titre-menu {
    margin-top: 100px;
    margin-bottom: 50px;
  }

  a.menu-a {
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    align-items: center;
  }

  div.menu-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
}
